.intro_banner{
	width:800px;
	height:100px;
}

figure.intro_logo{
	width:100px;
}
.intro_nav{
	width:700px;
	margin-left:70px;
	margin-top:-90px;
	font-size:1.5em;
	font-weight:bold;
}

.intro_nav ul {list-style:none; width:auto;}
.intro_nav li {
	float: left;
	margin: 0px 20px 0px 40px;
	font-weight: bold;
}

.replace{
	padding:0 45px;
}